@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
[alt='www.000webhost.com']{
	display:none;
}
body{
	/*background:#78edc3;*/
	margin: 0;
	padding: 0;
}
*{
	font-family: arial;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header h1{
	background: #aee076;
	color: #fff;
	padding: 25px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
/*------------------------------------estilo del nombre del usuario------------------------------------*/
.datos{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.nombre{
	color: #fff;
}
.datos a:hover{
	color: #fff;
	text-decoration: none;
}
.menu{
	padding: 10px;
	background: #fff;
	text-decoration: none;
}
.user{
	float: right;
	font-size: 15px;
	color: #fff;
}
/*------------------aqui termina lo de arriba------------------*/
.carrito{
	float: right;
}
.menu a{
	color: #000;
	background: #fff;
	padding: 8px;
}
.menu a:hover{
	color: #000000;
	background: #ffcb70;
	text-decoration: none;
}
.cuerpo{
	height: 100%;
	background: #eaeaea;
	padding: 30px;
	/*min-height: 383px;*/
}
.footer{
	color: #fff;
	background: #504c44;
	text-align: center;
	font-size: 11px;
	padding: 40px;
}
/*--------------------------------Login admin-----------------------------------*/
.centrarLogin{
	width: 40%;
	text-align: center;
	padding-top: 100px;
}
/*------------------------------estilos de las imagenes de lso productos------------------------------*/
#carrito{
	float: right;
}
.producto{
	display: inline-block;
	width: 220px;
	padding: 10px;
	background: rgb(0,0,0,0.05);
	color: #333;
	margin: 3px;
}
.img_producto{
	text-align: center;
	width: 200px;
	height: 180px;
}
.name_producto{
	padding: 10px;
	color: #fff;
	background: #aee056;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.btn_agregar{
	float: right;
}
.precio{
	color:green;
}
/*------------------------imagen de producto del carro------------------------*/
.imagen_carro{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.textG{
	color: #0a0;
}
/*----------------------------------------pagina principal----------------------------------------*/
.fondoh{
	background: #aee076;
	width: 210px;
	height: 210px;
	border-radius: 50%;

}
.imgoh{
	width: 200px;
	height: 200px;
	transform: translateY(5px);
}
.inicio{
	width: 100px;
	font-size: 28px;
	text-align: center;
	font-family: 'Comic Neue', cursive;
}
.abajo{
	color: #6d9fe9;
}
.icon-blog{
	font-size: 40px;
	color: #504c44;
	cursor: pointer;
}
.myv{
	height: 200px;
	width: 100%;
	justify-content: space-around;
	display: inline-flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	margin: auto;
}
.mv{
	color: #fff;
	text-align: center;
	margin: 0;
}
.mision{
	padding: 8px;
	color: #f2f2f2;
	font-size: 15px;
	text-align: justify;
	height: 150px;
	width: 40%;
	background: #aee076;
	box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
	margin: auto;
}
.vision{
	padding: 8px;
	color: #f2f2f2;
	font-size: 15px;
	text-align: justify;
	height: 150px;
	width: 40%;
	background: #aee076;
	box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
	margin: auto;
}
/*-------------------------------------------------estilos responsive-------------------------------------------------*/
@media(min-width:480px){
	.menu a{
		font-size: 15px;
		padding: 2px;
	}
	.cuerpo{
		height: 98vh;
	}
	.footer{
		font-size: 13px;
		padding: 40px;
	}
	.centrarLogin{
		width: 450px;
		padding-top: 100px;
	}
	.producto{
		display: inline-block;
		width: 300px;
		margin: 10px 5px;
	}
	.img_producto{
		width: 280px;
		height: 190px;
	}
	.name_producto{
		padding: 5px;
		font-size: 16px;
		font-weight: bold;
	}
	.myv{
		padding: 60px 0;
		height: 200px;
		width: 100%;
	}
	.vision{
		height: 300px;
		width: 40%;
		font-size: 18px;
	}
	.mision{
		background: #fba919;
		height: 300px;
		width: 40%;
		font-size: 18px;
	}
}

@media(min-width:1024px){
	.datos{
		color: #fff;
		font-size: 15px;
		text-decoration: none;
	}
	.user{	
		font-size: 19px;
	}
	.menu a{
		font-size: 18px;
		padding: 2px;
	}
	.cuerpo{
		height: 100%;
	}
	.producto{
		display: inline-block;
		width: 220px;
		margin: 10px 5px;
	}
	.footer{
		font-size: 16px;
		padding: 40px 0;
	}
	.centrarLogin{
		width: 400px;
		padding-top: 100px;
	}
	.img_producto{
		text-align: center;
		width: 200px;
		height: 180px;
	}
	.name_producto{
		padding: 5px;
		font-size: 13px;
		font-weight: bold;
	}
	.myv{
		padding: 0px;
		height: 300px;
		width: 100%;
	}
	.vision{
		background: #000;
		height: 243px;
		width: 40%;
	}
	.mision{
		font-size: 17.5px;
		height: 243px;
		width: 40%;
	}
}